
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// :root {
//   --sys-warning-container: light-dark(#ffe082, #4d3300);
//   --sys-on-warning-container: light-dark(#4d2600, #ffcc66);
// }

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    plain-family: 'Google Sans',
    brand-family: 'Google Sans'
  )
));

// Dark theme configuration
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    plain-family: 'Google Sans',
    brand-family: 'Google Sans'
  )
));

// Apply light theme by default
html {
  @include mat.all-component-themes($light-theme);
  @include mat.system-level-colors($light-theme);

  --sys-warning-container: #ffe082;
  --sys-on-warning-container: #4d2600;
}

// Override color tokens when .dark-mode class is applied
.dark-mode {
  @include mat.all-component-colors($dark-theme);
  @include mat.system-level-colors($dark-theme);

  --sys-warning-container: #4d3300;
  --sys-on-warning-container: #ffcc66;
}

body {
  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
